	#example{
		background-color:white;
		background-image: url('green_grad.png');
		background-repeat: repeat-y;
	}
	h1{
		color: forestgreen;
	}
	h2, h3{
		color: lime;
	}

	h4, h5, h6{
		color: #ffffff;
	}

	.attr{
		color:lightgreen;
	}

	.bld{
		font-weight: bold
	}

	.itl{
		font-style: italic;
	}

	.obl{
		font-style: oblique;
	}
	
	a{
		background-color: black;
		color:orange;
	}
	a:hover{
		background-color: orange;
		color:black;
	}